---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
  
  <img src = "./crumb-cat.gif" width="500">
  <div id="clock" style="width: 500px; height: 200px; border: 3px solid black; border-radius: 30px; background-color: #323945; display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin: 20px auto; padding: 20px 0px;"></div>
  <script>
	window.onload = function () {
        var clock = document.getElementById('clock');
        setInterval(function () {
            var now = new Date();
			var year = now.getFullYear();
			var month = now.getMonth()+1;
			var day = now.getDate();
			var hour = now.getHours();
			var minute = now.getMinutes();
			var second = now.getSeconds();
            clock.innerHTML = `<h3 style="font-size: 23px">${year}년 ${month}월 ${day}일</h3>`;
			clock.innerHTML += `<h1 style="font-size: 30px">${hour} : ${minute} : ${second}</h1>`;
        }, 1000);
    };
  </script>
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
